@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--fg: #eaeaea;
	--fg2: #d9d9d9;
	--bglight: #000000;
	--bg: #2a2d43;
	--bg2: #2a2d43;
	--bg3: #353750;
	--acc: #f61067;
	--text: 'Roboto Slab', serif;
	--subheader: 'Ubuntu Mono', monospace;
	--header: 'Space Mono', monospace;
	--f400: 1.25rem;
	--f500: 2.25rem;
	--f600: 3.8rem;
	--f700: 5rem;
}

/*-Misc styles*/
* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	list-style: none;
}

html {
	background-color: black;
}

.dot {
	color: var(--acc);
	font-family: var(--subheader);
}

.accent {
	color: var(--acc);
	font-weight: bold;
}

.symbol {
	margin-right: 3px;
	color: var(--acc);
}

a {
	text-decoration: none;
	color: var(--fg);
}

.wrapper {
	width: 100%;
	max-width: 1250px;
	justify-self: center;
	align-self: center;
}

.container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

header {
	color: var(--fg);
	background-color: transparent;
	position: sticky;
	font-size: var(--f400);
	top: 0;
	z-index: 100;
	transition: background-color opacity 0.25s;
	padding: 0 5vw;
}

section {
	padding: 10vh 5vw;
}

#subheader {
	font-family: var(--subheader);
	font-size: calc(var(--f500) + 0.5rem);
	width: 100%;
	margin: 0.5em 0;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-family: var(--text);
}

.solid-bg {
	background-color: var(--bg);
	color: var(--fg);
	box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-webkit-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	transition: background-color 0.2s ease;
}

#white {
	color: var(--bg);
}

.disabled {
	display: none;
	opacity: 0;
}

.enabled {
	opacity: 1;
	display: flex;
}

.hidden {
	opacity: 0;
	transform: translatey(30%);
}

.shown {
	transform: translatey(0%);
	opacity: 1;
	transition: transform 1s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.wave {
	position: absolute;
	margin-top: -119px;
	transform: rotate(180deg) scaleX(-1);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 120px;
	transform: rotateY(180deg);
}

.wave .shape-fill {
	fill: var(--bg2);
}

.wave2 {
	transform: rotate(180deg);
}

.wave2 .shape-fill {
	fill: var(--bg3);
}

.contact-divider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.contact-divider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

.contact-divider .shape-fill {
	fill: var(--bg3);
}

/*-Header Styles*/
.header-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1250px;
	/* min-height: 5rem; */
	min-height: 6rem;
	margin: 0 auto;
}

.nav__logo {
	display: inline-block;
	font-variant-ligatures: none;
	font-family: var(--subheader);
	font-size: var(--f500);
	letter-spacing: -0.5px;
	margin: 0;
}

.nav__menu {
	display: flex;
	font-weight: 600;
	font-family: var(--text);
	font-size: var(--f400);
}

.nav__menu-hamburger {
	justify-self: end;
	align-self: center;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
}

.fa-bars {
	fill: var(--fg);
	width: 1.5rem;
}

.nav__menu > li {
	padding: 0.3em 1em;
	font-size: calc(var(--f400) + 0.25rem);
}

.nav__menu a {
	transition: color 0.2s ease; /* Add a transition for the color property */
}

.nav__menu a:hover {
	color: var(--acc);
}

.nav__link {
	color: var(--fg);
	letter-spacing: 1.5px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Landing styles*/
.main__landing-bg {
	position: relative;
	height: 100%;
}
.main__landing-bg > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110svh;
	object-fit: cover;
	filter: blur(5px);
}

main {
	min-height: 100vh;
	min-height: 100svh;
	color: var(--fg);
}

.main__hero-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 10em; */
	display: inline-block;
	/* padding: 2rem; */
	margin: 0% 5% 10% 5%;
}

.hero-text {
	opacity: 0;
	text-align: left;
	font-size: var(--f700);
	white-space: wrap;
	overflow: hidden;
	letter-spacing: -1px;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	width: 100%;
	max-width: 20ch;
	letter-spacing: 5px;
	line-height: 1.2;
	margin: 0.5em 0em;
	animation: popup-anim 0.5s ease 0.5s 1 forwards;
}

#Alejandro {
	color: var(--acc);
	font-style: italic;
	letter-spacing: -1px;
}

.main__landing {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	background-position: center;
	padding: 0;
	min-height: 98vh;
	min-height: 98svh;
}

.hero-subtext {
	max-width: 46ch;
	line-height: 1.5em;
	letter-spacing: 1.5px;
	opacity: 0;
	text-align: left;
	font-size: calc(var(--f400) + 0.25rem);
	width: 100%;
	font-weight: 500;
	animation: popup-anim 1s ease 1.2s 1 forwards;
}

.hero__interactables {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.socials__container {
	display: flex;
	gap: 1.5rem;
}

.social {
	transition: fill 0.2s ease;
	padding: 1rem;
}

.social:hover svg {
	fill: var(--acc);
}

.socials__container a:nth-child(1) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.3s 1 forwards;
}
.socials__container a:nth-child(2) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.4s 1 forwards;
}
.socials__container a:nth-child(3) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.5s 1 forwards;
}
.socials__container a:nth-child(4) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.6s 1 forwards;
}

.social svg {
	width: calc(var(--f400) + 1rem);
	height: calc(var(--f400) + 1rem);
	display: inline;
	fill: var(--fg);
	transition: fill 0.2s ease;
}

.cv > svg {
	width: calc(var(--f400) + 1rem);
	height: calc(var(--f400) + 1rem);
}

.cv > svg > path {
	transition: fill 0.2s ease;
	fill: var(--fg);
}

.cv:hover > svg path {
	fill: var(--acc);
}

.landing__img-container {
	padding: 3rem;
	margin-bottom: 5rem;
	border-radius: 380px;
	opacity: 0;
	animation: popup-anim 0.7s ease 1.8s 1 forwards;
}

#portrait {
	/* width: 100%;
	min-width: 200px;
	max-width: 500px; */
	width: 453px;
	box-shadow: 0px 0px 10px var(--fg);
	border-radius: 360px;
	padding-left: 1px;
}

/*-About me section*/
.main__about {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 80vh;
	min-height: 80svh;
	background-color: var(--bg2);
}

.main__about-wrapper {
	margin: 5rem 0rem 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: var(--fg);
}
.about__header {
	margin-bottom: 2rem;
}
/* .main__about-beyond {
	background-image: url(../assets/blob.svg);
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: center;
} */

.main__about-beyond,
.main__about-journey,
.main__about-stack {
	/* flex-basis: 100%; */
	display: inline-block;
	font-family: var(--text);
	font-size: calc(var(--f500) - 0.25rem);
	/* padding: 0rem 5rem 0rem 5rem; */
	margin-bottom: 5rem;
	/* max-width: 1000px; */
	letter-spacing: -1px;
}

.main__about-beyond > p,
.main__about-journey > p {
	font-size: calc(var(--f400) + 0.25rem);
	word-spacing: 4px;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.main__about-stack {
	margin: 0rem auto 6rem auto;
	text-align: center;
}

.tech-stack {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.tech-stack > li > svg {
	display: inline-block;
	width: calc(var(--f600) + 1rem);
}

.tech-stack > li > svg > path,
.tech-stack > li > svg > g {
	fill: var(--fg);
}

/*-Projects*/
.main__projects {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg3);
	min-height: 80vh;
	min-height: 80svh;
}

.main__projects-wrapper {
	margin: 5rem 0rem 2rem 0;
}

.main__projects > #subheader {
	justify-self: flex-start;
	align-self: flex-start;
	margin-bottom: 3rem;
}

.main__projects-display {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: auto;
	width: 100%;
	gap: 3rem;
	/* transition: all 0.3 ease-in-out; */
}

.card {
	position: relative;
	box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	background-color: var(--bg);
	border-radius: 15px;
	max-width: 601px;
	justify-self: center;
	align-self: center;
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	opacity: 0;
	z-index: 0;
}

.overlay {
	position: absolute;
	inset: 0%;
	opacity: 0;
	visibility: hidden;
	background: var(--bg);
	z-index: 1;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.btn {
	padding: 0.5rem 2rem;
	max-width: 130px;
	min-height: 40px;
	margin: 10px 10px;
	letter-spacing: 2px;
	border-radius: 5px;
	font-size: calc(var(--f500)+0.25rem);
	font-family: var(--subheader);
	color: var(--fg);
	font-weight: 700;
	background-color: transparent;
	border: 3px solid var(--acc);
	opacity: 1;
}

.btn:hover {
	cursor: pointer;
	background-color: var(--acc);
}

.card:hover .overlay {
	visibility: visible;
	opacity: 0.85;
	filter: none;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .tag {
	filter: blur(3px);
}

.card:hover::before {
	opacity: 1;
}

.card__image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.card__info {
	color: var(--fg);
	padding: 2rem 2rem 0 2rem;
	font-family: var(--subheader);
	font-size: calc(var(--f400) + 0.25rem);
}

.card__info > h3 {
	text-transform: uppercase;
	margin-bottom: 1.2rem;
	letter-spacing: 1px;
	text-align: center;
}

.card__info > p {
	text-align: center;
	font-size: 0.9em;
	margin: 0 auto;
	letter-spacing: 0.5px;
}

.card__tags {
	text-align: center;
	margin: 3rem 0 1rem 0;
	opacity: inherit;
}

.tag {
	display: inline-block;
	border-radius: 3px;
	border-radius: 14px;
	color: var(--fg2);
	background: var(--bg3);
	font-weight: 600;
	font-size: 0.8em;
	opacity: 1;
	padding: 0.2em 0.5em 0.3em;
	margin: 0.4em 0.1em;
	transition: filter 0.3s;
}

/* #js {
	color: #f0db4f;
}

#css {
	color: #48a0dc;
}

#html {
	color: #e44d25;
}

#webpack {
	color: #8ed5fa;
}

#npm {
	color: #cc3534;
} */

/*-Contact*/
.main__contact {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 13.5rem;
	padding-bottom: 0rem;
	background-color: var(--fg);
	color: var(--bg);
}

.form-container {
	min-width: 0;
	width: 100%;
	max-width: 600px;
}

form {
	display: flex;
	align-self: center;
	flex-direction: column;
	color: var(--bg);
	padding: 2em;
	margin: 2rem 0 5rem 0;
	border-radius: 10px;
}

label {
	color: var(--bg);
	display: block;
	text-transform: uppercase;
	font-family: var(--header);
	opacity: 1;
	padding: 0.5rem 0 0.25rem 0.5rem;
}

.input-wrapper {
	background-color: var(--fg2);
	border-radius: 5px;
	margin: 0.2rem 0;
}

.textarea-wrapper {
	background-color: var(--fg2);
}

input,
textarea {
	font-family: var(--text);
	background: none;
	padding: 0.2rem 0;
	resize: none;
	width: 100%;
	min-height: 3ch;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--bg);
}

textarea {
	padding: 0 0;
	margin: 0;
	min-height: 10ch;
}

button[type='submit'] {
	font-family: var(--text);
	text-transform: uppercase;
	opacity: 0.9;
	margin: 2rem 0 0 auto;
	padding: 0.6rem 2rem;
	color: var(--fg);
	background-color: var(--acc);
	border: 1px solid var(--acc);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type='submit']:hover {
	color: var(--acc);
	background-color: transparent;
}

input::placeholder {
	margin: 2rem 0;
	color: var(--fg);
	font-family: var(--header);
}

.popup-wrapper {
	position: fixed;
	bottom: 5%;
	left: 50%;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-50%);
	width: 50%;
	min-width: 180px;
	max-width: 30rem;
	min-height: 10rem;
}

.popup-wrapper.open {
	animation: popup-open 0.8s ease 0s 1 forwards;
}

.popup-wrapper.closed {
	animation: popup-closed 0.8s ease-out 0s 1 alternate;
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 1em 0em;
	border-radius: 20px;
	background: var(--fg);
	color: var(--bg);
	box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-webkit-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
}

.popup-message {
	font-family: var(--text);
	font-size: calc(var(--f400) + 0.25rem);
	line-height: 1.3;
	letter-spacing: 1px;
	max-width: 100%;
	word-break: break;
	padding: 1em;
}

.fa-circle-check {
	color: #24b351;
}

.fa-circle-exclamation {
	color: #c21616;
}

.status-icon {
	position: absolute;
	top: 0%;
	left: 50%;
	font-size: 3.125rem;
	background-color: var();
	transform: translate(-50%, -33%);
}

/*-Footer*/
footer {
	background-color: var(--bg3);
	min-height: 5vh;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

/*- Media queries */

@media only screen and (min-width: 2800px) {
	:root {
		--f400: calc(1.25rem * 1.25);
		--f500: calc(2.25rem * 1.65);
		--f600: calc(3.93rem * 1.25);
		--f700: calc(5rem * 1.5);
	}

	.main__about-journey,
	.main__about-beyond {
		max-width: 1400px;
	}
}

@media only screen and (max-width: 1239px) {
	html {
		font-size: 12px;
	}

	.wrapper,
	.header-wrapper {
		max-width: 724px;
	}

	.header__menu > li {
		padding: 0.5em;
	}

	#portrait {
		/* max-width: 350px; */
		width: 250px;
	}

	.main__about-beyond,
	.main__about-journey,
	.main__about-stack {
		font-size: calc(var(--f500) - 0.25rem);
		padding: 1rem;
		max-width: 700px;
	}

	.main__about-beyond > p,
	.main__about-journey > p {
		line-height: 30px;
	}
}

@media only screen and (max-width: 1010px) {
	.hero-text {
		font-size: 4.67rem;
	}

	.nav__menu-hamburger {
		position: absolute;
		top: 25%;
		right: 0%;
		display: block;
		align-self: end;
		cursor: pointer;
	}

	header {
		background-color: var(--bg);
		color: var(--fg);
		box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
		-webkit-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
		-moz-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	}

	.nav__logo {
		align-self: center;
	}

	.nav__menu {
		display: flex;
		position: fixed;
		visibility: hidden;
		top: 0%;
		right: 0%;
		margin-top: 6rem;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		background-color: var(--bg);
		color: var(--fg);
		width: 60vw;
		min-height: calc(100vh - 6rem);
		padding: 1rem;
		transform: translateX(-200%);
	}

	.nav__menu.enabled {
		animation: nav-open 0.8s ease 0s 1 forwards;
	}

	.nav__menu.closed {
		animation: nav-close 0.8s ease 0s 1 forwards;
	}

	.nav__menu > li {
		text-align: center;
		font-size: calc(var(--f500) + 0.5rem);
		margin: 2rem auto;
	}

	.card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card__image {
		margin: 0;
		min-width: 220px;
	}
}

@media only screen and (max-width: 767px) {
	:root {
		--f400: calc(1.25rem * 0.75);
		--f500: calc(2.25rem * 0.65);
		--f600: calc(3.93rem * 0.75);
	}

	.main__landing {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__hero-wrapper {
		margin: 0;
		padding: 1rem;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}

	.hero-text,
	.hero-subtext {
		text-align: center;
	}

	.hero-subtext {
		font-size: 18px;
	}

	.hero__interactables {
		justify-content: center;
	}

	.main__about {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__about-journey > p,
	.main__about-beyond > p {
		line-height: 1.5em;
	}

	.main__about-text {
		padding: 0em;
		margin: 0px;
	}

	#portrait {
		max-width: 300px;
	}

	.main__projects-display {
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}

	.main__about-beyond,
	.main__about-journey,
	.main__about-stack {
		padding: 1rem 0;
	}

	section,
	header {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.card__info {
		font-size: calc(var(--f400) + 0.25rem);
	}
}

@media only screen and (max-width: 386px) {
	.hero-text {
		font-size: 3rem;
	}

	.hero-subtext {
		font-size: 1.2rem;
	}

	.nav__menu > li {
		font-size: calc(var(--f500) + 0.25rem);
	}

	#portrait {
		/* max-width: 350px; */
		width: 200px;
	}
}
