@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--fg: #303747;
	/* --fg: #e1e7f3; */
	--bglight: #525969;
	/* --bg: #231569; */
	--bg: #e1e7f3;
	--bg2: #e1e7f3;
	/* --acc: #7fffca; */
	/* --acc: #f4a; */
	--acc: #9778f4;
	--text: 'Roboto Slab', serif;
	--subheader: 'Ubuntu Mono', monospace;
	--header: 'Space Mono', monospace;
	--f400: 1.25rem;
	--f500: 2.25rem;
	--f600: 3.8rem;
}

.main__landing-bg {
	aspect-ratio: 900/600;
	width: 100%;
	background-image: url(../assets/bg.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* .layer {
} */

* {
	padding: 0;
	margin: 0;
}

/* html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

section {
	height: 100svh;
	scroll-snap-align: start;
} */

a {
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	background: var(--bg);
	color: var(--fg);
}

header {
	background-color: transparent;
	color: var(--fg);
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	top: 0;
	z-index: 1;
	max-height: 8vh;
	/* margin: 0% 5% 0% 5%; */
}

section,
header {
	padding: 0rem 10rem;
}

.nav__logo {
	font-variant-ligatures: none;
	font-family: var(--subheader);
	font-size: var(--f500);
	letter-spacing: -0.5px;
	margin: 0;
	padding: 1em 1em 1em 0em;
}

.nav__menu {
	list-style: none;
	display: flex;
	margin: 0 1em;
	font-family: var(--text);
	font-weight: 600;
	font-size: var(--f400);
}

.nav__menu-hamburger {
	justify-self: end;
	align-self: center;
	color: var(--fg);
	font-size: 1.5rem;
	margin-right: 1.5em;
	display: none;
}

.nav__menu > li {
	padding: 0.3em 1em;
	font-size: calc(var(--f400) + 0.25rem);
}

/* .nav__menu > li:hover {
	border-radius: 5px;
} */

.nav__menu > li > a {
	color: var(--bg);
	letter-spacing: 1.5px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main {
	min-height: 100vh;
	color: var(--fg);
}

.main__hero-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 10em; */
	display: inline-block;
	padding: 2rem;
	margin: 0% 5% 10% 5%;
}

.hero-text {
	opacity: 0;
	text-align: left;
	color: var(--fg);
	/* font-size: clamp(56px, 4.2vw, 80px); */
	font-size: 5rem;
	white-space: wrap;
	overflow: hidden;
	letter-spacing: -1px;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	width: 100%;
	max-width: 20ch;
	letter-spacing: 5px;
	line-height: 1.2;
	margin: 0.5em 0em;
	animation: popup-anim 0.5s ease 0.5s 1 forwards;
}

#Alejandro {
	color: var(--acc);
	letter-spacing: -1px;
}

.main__landing {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	background-position: center;
	min-height: 90svh;
}

.hero-subtext {
	max-width: 46ch;
	line-height: 1.5;
	letter-spacing: 1.5px;
	opacity: 0;
	text-align: left;
	word-wrap: break-word;
	/* font-size: clamp(1.6rem, 1.1vw, 6rem); */
	font-size: 1.5rem;
	width: 100%;
	font-weight: 500;
	animation: popup-anim 0.5s ease 0.7s 1 forwards;
}

@keyframes popup-anim {
	0% {
		opacity: 0;
		transform: translate(0%, -30%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

#subheader {
	font-family: var(--subheader);
	font-size: calc(var(--f500) + 0.25rem);
	margin: 0.5em 0em;
}

p {
	font-family: var(--text);
}

.main__contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 899px;
	padding: 1em;
	/* border: 1px solid black; */
}

input,
textarea {
	/* border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--bglight); */
	/* border-radius: 3px 3px 0px 0px; */
	background: none;
	margin: 1rem 0rem 1rem 0rem;
	padding: 1rem;
	resize: none;
}

::placeholder {
	color: var(--fg);
	font-family: var(--header);
}

#result {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5em;
	max-width: 30em;
	min-height: 5em;
	border-radius: 10px;
	background: var(--fg);
	color: var(--bg);
	box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-webkit-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	transition: opacity 0.5s ease-out;
}

#popup-message {
	font-family: monospace;
	font-size: 1.5em;
	line-height: 1.3;
	letter-spacing: 1px;
}

.fa-circle-check {
	color: #24b351;
}

.fa-circle-exclamation {
	color: #c21616;
}

#status-icon {
	position: absolute;
	top: 0%;
	right: 0%;
	font-size: 1.25em;
	transform: translate(-50%, 50%);
}

.disabled {
	display: none;
	opacity: 0;
}

.enabled {
	opacity: 1;
	display: flex;
}

.hidden {
	opacity: 0;
	transition: all 0.5s;
}

.shown {
	opacity: 1;
}

.solid-bg {
	background-color: var(--bg);
	color: var(--fg);
	box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-webkit-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	transition: background-color 0.2s ease;
}

.main__about {
	display: flex;
	justify-content: space-around;
	min-height: 50svh;
	background-color: var(--bg);
}

.main__about-text {
	padding: 4em;
	padding-right: 2em;
	margin-left: 5em;
}

.subtext {
	/* font-size: calc(var(--f400) + 0.25rem); */
	font-size: var(--f400);
	max-width: 60ch;
	line-height: 1.5;
	text-align: justify;
	opacity: 0;
	animation: popup-anim 0.5s ease 2.5s 1 forwards;
}

.socials__container {
	font-size: calc(var(--f400) + 0.5rem);
	display: flex;
	gap: 1.5rem;
	margin-top: 2rem;
}

.socials__container a:nth-child(1) {
	opacity: 0;
	animation: popup-anim 0.2s ease 1s 1 forwards;
}
.socials__container a:nth-child(2) {
	opacity: 0;
	animation: popup-anim 0.2s ease 1.1s 1 forwards;
}
.socials__container a:nth-child(3) {
	opacity: 0;
	animation: popup-anim 0.2s ease 1.2s 1 forwards;
}

.landing__img-container {
	padding: 3rem;
	border-radius: 380px;
}

#portrait {
	width: 100%;
	min-width: 200px;
	max-width: 500px;
	box-shadow: 0px 0px 30px #303747;
	border-radius: 360px;
	padding-left: 1px;
}

.main__projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg2);
	/* margin-top: 1vh; */
}

.main__projects > #subheader {
	justify-self: flex-start;
	align-self: flex-start;
}

.main__projects-display {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	/*margin: 1rem; */
	border: 1px solid black;
	min-height: 30rem;
	gap: 2rem;
	margin-bottom: 5rem;
}

.card__image {
	width: 100%;
	min-width: 400px;
	max-width: 853px;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 2rem;
	box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	/* padding: 0rem; */
}

.card__info {
	max-width: 25rem;
	border: 1px solid black;
	padding: 2rem;
}

.card .card__image:nth-child(1) {
}

.card__image:nth-of-type(2) {
}

.card__image:nth-of-type(3) {
}

/* Media queries */
@media only screen and (max-width: 1239px) {
	html {
		font-size: 12px;
	}

	.header__menu > li {
		padding: 0.5em;
	}

	#portrait {
		max-width: 350px;
	}
}

@media only screen and (max-width: 1010px) {
	.main__landing {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__hero-wrapper {
		margin-bottom: 1rem;
	}

	.main__about {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__about-text {
		padding: 0em;
		margin: 0px;
	}

	.card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card__image {
		min-width: 250px;
	}

	#portrait {
		max-width: 300px;
	}
}

@media only screen and (max-width: 767px) {
	:root {
		--f400: calc(1.25rem * 0.75);
		--f500: calc(2.25rem * 0.65);
		--f600: calc(3.93rem * 0.75);
	}

	.hero-text {
		font-size: 4.67rem;
	}

	.nav__menu-hamburger {
		position: absolute;
		top: 35%;
		right: 0%;
		display: block;
		align-self: end;
	}

	header {
		flex-direction: column;
	}

	header > h2 {
		align-self: start;
	}

	.nav__menu {
		position: absolute;
		margin-top: 6vh;
		display: none;
		flex-direction: column;
		background-color: var(--bg);
		color: var(--fg);
		width: 100%;
	}

	.nav__menu.enabled {
		display: flex;
		animation: hamburguesita 0.5s ease 0s 1 forwards;
	}

	.nav__menu > li {
		text-align: center;
		font-size: 1rem;
	}

	@keyframes hamburguesita {
		0% {
			opacity: 0;
			/* transform: translate(-100%, 0%); */
		}

		100% {
			opacity: 1;
			/* transform: translate(0%, 0%); */
		}
	}
}

@media only screen and (max-width: 386px) {
	.hero-text {
		font-size: 3rem;
	}

	.hero-subtext {
		font-size: 1.2rem;
	}
}
