@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--fg: #303747;
	--bglight: #000000;
	--bg: #e1e7f3;
	--bg2: #d5dde9;
	--bg3: #d1d8e4;
	--acc: #9778f4;
	--text: 'Roboto Slab', serif;
	--subheader: 'Ubuntu Mono', monospace;
	--header: 'Space Mono', monospace;
	--f400: 1.25rem;
	--f500: 2.25rem;
	--f600: 3.8rem;
	--f700: 5rem;
}

/*-Misc styles*/
* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	list-style: none;
}

.dot {
	font-family: var(--subheader);
	color: var(--acc);
}

a {
	text-decoration: none;
	color: var(--fg);
}

.wrapper {
	width: 100%;
	max-width: 3840px;
	margin: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

body {
	background: var(--bg);
	color: var(--fg);
	width: 100%;
}

header {
	background-color: transparent;
	color: var(--fg);
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--f400);
	top: 0;
	z-index: 1;
	min-height: 4.5rem;
	transition: background-color opacity 0.25s;
}

section,
header {
	padding: 0rem 8vw;
}

#subheader {
	font-family: var(--subheader);
	font-size: calc(var(--f500) + 0.25rem);
	margin: 0.5em 0em;
}

p {
	font-family: var(--text);
}

.solid-bg {
	background-color: var(--bg);
	color: var(--fg);
	box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-webkit-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	transition: background-color 0.2s ease;
}

#white {
	color: var(--bg);
}

.disabled {
	display: none;
	opacity: 0;
}

.enabled {
	opacity: 1;
	display: flex;
}

.hidden {
	opacity: 0;
	transform: translatey(-10px);
	transition: all 0.5s;
}

.shown {
	transform: translatey(0);
	opacity: 1;
}

.wave {
	position: absolute;
	margin-top: -119px;
	transform: rotate(180deg) scaleX(-1);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 120px;
	transform: rotateY(180deg);
}

.wave .shape-fill {
	fill: var(--bg2);
}

/*-Header Styles*/
.nav__logo {
	display: inline-block;
	font-variant-ligatures: none;
	font-family: var(--subheader);
	font-size: var(--f500);
	letter-spacing: -0.5px;
	margin: 0;
}

.nav__menu {
	display: flex;
	font-weight: 600;
	font-family: var(--text);
	font-size: var(--f400);
}

.nav__menu-hamburger {
	justify-self: end;
	align-self: center;
	color: var(--fg);
	font-size: 1.5rem;
	margin-right: 1.5em;
	padding: 5px;
	display: none;
}

.nav__menu > li {
	padding: 0.3em 1em;
	font-size: calc(var(--f400) + 0.25rem);
}

.nav__link {
	color: black;

	letter-spacing: 1.5px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Landing styles*/
.main__landing-bg {
	aspect-ratio: 900/600;
	width: 100%;
	background-image: url(../assets/bg.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main {
	min-height: 100vh;
	color: var(--fg);
}

.main__hero-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 10em; */
	display: inline-block;
	padding: 2rem;
	margin: 0% 5% 10% 5%;
}

.hero-text {
	opacity: 0;
	text-align: left;
	color: var(--fg);
	font-size: var(--f700);
	white-space: wrap;
	overflow: hidden;
	letter-spacing: -1px;
	font-family: 'Space Mono', monospace;
	font-weight: 500;
	width: 100%;
	max-width: 20ch;
	letter-spacing: 5px;
	line-height: 1.2;
	margin: 0.5em 0em;
	animation: popup-anim 0.5s ease 0.2s 1 forwards;
}

#Alejandro {
	color: var(--acc);
	letter-spacing: -1px;
}

.main__landing {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	background-position: center;
	min-height: 98svh;
}

.hero-subtext {
	max-width: 46ch;
	line-height: 1.5;
	letter-spacing: 1.5px;
	opacity: 0;
	text-align: left;
	font-size: calc(var(--f400) + 0.25rem);
	width: 100%;
	font-weight: 500;
	animation: popup-anim 1s ease 1s 1 forwards;
}

.hero__interactables {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.socials__container {
	font-size: calc(var(--f400) + 0.5rem);
	display: flex;
	gap: 1.5rem;
	/* margin-top: 2rem; */
}

.social {
	padding: 0.5rem;
}

.socials__container > a {
	transition: color 0.2s ease;
}

.socials__container a:hover {
	color: var(--acc); /* Change color on hover */
}

.socials__container a:nth-child(1) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.2s 1 forwards;
}
.socials__container a:nth-child(2) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.3s 1 forwards;
}
.socials__container a:nth-child(3) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.4s 1 forwards;
}
.socials__container a:nth-child(4) {
	opacity: 0;
	animation: popup-anim 0.4s ease 1.5s 1 forwards;
}
.cv > svg {
	color: green;
	width: calc(var(--f400) + 0.5rem);
}

.cv > svg > path {
	fill: var(--fg);
}

.cv:hover > svg path {
	fill: var(--acc);
}

.landing__img-container {
	padding: 3rem;
	border-radius: 380px;
}

#portrait {
	width: 100%;
	min-width: 200px;
	max-width: 500px;
	box-shadow: 0px 0px 30px #303747;
	border-radius: 360px;
	padding-left: 1px;
}

/*-About me section*/
.main__about {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--bg2);
}

.main__about-wrapper {
	margin: 5rem 0rem 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--fg);
}
.about__header {
	margin-bottom: 1.25rem;
}
/* .main__about-beyond {
	background-image: url(../assets/blob.svg);
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: center;
} */

.main__about-beyond,
.main__about-journey,
.main__about-stack {
	display: inline-block;
	font-family: var(--text);
	font-size: calc(var(--f500) - 0.25rem);
	padding: 0rem 5rem 0rem 0rem;
	max-width: 1000px;
	letter-spacing: -1px;
}

.main__about-beyond > p,
.main__about-journey > p {
	font-size: calc(var(--f400) + 0.25rem);
	word-spacing: 4px;
	line-height: 40px;
	margin-bottom: 15px;
}

.main__about-stack {
	max-width: 100%;
	margin: 3rem auto;
	text-align: center;
}

.tech-stack {
}

.tech-stack > * {
	display: inline-block;
	font-size: calc(var(--f700) - 0.5rem);
	padding: 1.25rem 1.25rem 0 0;
}
/*-Projects*/
.main__projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg2);
	min-height: 50svh;
	padding-bottom: 5svh;
	/* margin-top: 1vh; */
}

.main__projects > #subheader {
	justify-self: flex-start;
	align-self: flex-start;
	margin-bottom: 3rem;
}

.main__projects-display {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: auto;
	width: 100%;
	gap: 3rem;
}

.card {
	position: relative;
	box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 11px 11px 17px 0px rgba(0, 0, 0, 0.65);
	background-color: var(--bg);
	border-radius: 10px;
	max-width: 500px;
	justify-self: center;
	align-self: center;
	overflow: hidden;
	transition: filter opacity 0.3s ease-in-out;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 0;
}

.overlay {
	position: absolute;
	inset: 0%;
	opacity: 0;
	transition: opacity 0.5s ease;
	background: var(--fg);
	z-index: 1;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: var(--bg);
	text-align: center;
}

.btn {
	padding: 0.5rem 2rem;
	max-width: 130px;
	min-height: 40px;
	margin: 10px 10px;
	letter-spacing: 2px;
	border-radius: 5px;
	font-size: calc(var(--f500)+0.25rem);
	font-family: var(--subheader);
	color: var(--bg);
	font-weight: 700;
	background-color: transparent;
	border: 1px solid var(--acc);
	opacity: 1;
	transition: background-color 0.25s ease;
}

.btn:hover {
	cursor: pointer;
	background-color: var(--acc);
}

.card:hover .overlay {
	opacity: 0.8;
	filter: none;
}

.card:hover .tag {
	filter: blur(3px);
}

.card:hover::before {
	opacity: 1;
}

.card__image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	transition: transform 0.3s ease-in-out;
}

.card__info {
	color: var(--fg);
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 2rem 2rem 0 2rem;
	font-family: var(--text);
	font-size: 1.5rem;
}

.card__info > h3 {
	color: var(--acc);
	margin-bottom: 1.2rem;
	text-align: center;
}

.card__info > p {
	text-align: center;
	font-size: 0.85em;
	margin: 0 auto;
}

.card__tags {
	text-align: center;
	margin: 3rem 0 1rem 0;
	opacity: inherit;
}

.tag {
	display: inline-block;
	border-radius: 3px;
	border-radius: 2px;
	background: var(--bglight);
	font-weight: 600;
	font-size: 0.8em;
	/*TODO arreglar opacidad de tags opacity: 0.8; */
	opacity: 0.65;
	padding: 0.2em 0.5em 0.3em;
	margin: 0.4em 0.1em;
	transition: filter 0.3s;
}

#js {
	color: #f0db4f;
}

#css {
	color: #48a0dc;
}

#html {
	color: #e44d25;
}

#webpack {
	color: #8ed5fa;
}

#npm {
	color: #cc3534;
}

/*-Contact*/
.main__contact {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--bg2);
}

form {
	display: flex;
	align-self: center;
	flex-direction: column;
	width: 100%;
	padding: 1em;
	border: 1px solid black;
	border-radius: 5px;
}

label {
	display: block;
	text-transform: uppercase;
	font-family: var(--header);
	opacity: 0.8;
	color: var(--fg);
}

input,
textarea {
	background: none;
	margin: 1rem 0rem 1rem 0rem;
	padding: 1rem 0;
	resize: none;
	width: 100%;
}

button[type='submit'] {
	margin: 0 0 0;
	max-width: 50%;
	padding: 1rem 2rem;
}

::placeholder {
	color: var(--fg);
	font-family: var(--header);
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5em;
	max-width: 30em;
	min-height: 5em;
	border-radius: 10px;
	background: var(--fg);
	color: var(--bg);
	box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-webkit-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 13px 12px 24px 4px rgba(0, 0, 0, 0.67);
	transition: opacity 0.5s ease-out;
}

#popup-message {
	font-family: monospace;
	line-height: 1.3;
	letter-spacing: 1px;
}

.fa-circle-check {
	color: #24b351;
}

.fa-circle-exclamation {
	color: #c21616;
}

#status-icon {
	position: absolute;
	top: 0%;
	right: 0%;
	font-size: var(--f400);
	transform: translate(-50%, 50%);
}

/* Media queries */

@media only screen and (min-width: 2800px) {
	:root {
		--f400: calc(1.25rem * 1.25);
		--f500: calc(2.25rem * 1.65);
		--f600: calc(3.93rem * 1.25);
		--f700: calc(5rem * 1.5);
	}

	.main__about-journey,
	.main__about-beyond {
		max-width: 1400px;
	}
}

@media only screen and (max-width: 1239px) {
	html {
		font-size: 12px;
	}

	.header__menu > li {
		padding: 0.5em;
	}

	#portrait {
		max-width: 350px;
	}

	.main__about-beyond,
	.main__about-journey,
	.main__about-stack {
		font-size: calc(var(--f500) - 0.25rem);
		padding: 1rem;
		max-width: 700px;
	}

	.main__about-beyond > p,
	.main__about-journey > p {
		line-height: 30px;
	}
}

@media only screen and (max-width: 1010px) {
	.hero-text {
		font-size: 4.67rem;
	}

	.nav__menu-hamburger {
		position: absolute;
		top: 25%;
		right: 0%;
		display: block;
		align-self: end;
		cursor: pointer;
	}

	header {
		background-color: var(--bg);
		color: var(--fg);
		box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
		-webkit-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
		-moz-box-shadow: 1px 9px 16px 5px rgba(0, 0, 0, 0.52);
	}

	.nav__logo {
		align-self: center;
	}

	.nav__menu {
		position: fixed;
		visibility: hidden;
		top: 5%;
		left: 47.5%;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		background-image: url(../assets/nav-bg.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: var(--bg);
		color: var(--fg);
		width: 50vw;
		min-height: 92.5vh;
		padding: 1rem;
		transform: translateX(-200%);
		transition: all 0.8s ease;
	}

	.nav__menu.enabled {
		visibility: visible;
		transform: translateX(0%);
		display: flex;
		animation: hamburguesita-open 0.8s ease 0s 1 alternate;
	}

	.nav__menu.closed {
		animation: hamburguesita-close 0.8s ease 0s 1 alternate;
	}

	.nav__menu > li {
		text-align: center;
		font-size: calc(var(--f500) + 0.5rem);
		margin: 2rem auto;
	}

	.card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card__image {
		margin: 0;
		min-width: 220px;
	}
}

@media only screen and (max-width: 767px) {
	:root {
		--f400: calc(1.25rem * 0.75);
		--f500: calc(2.25rem * 0.65);
		--f600: calc(3.93rem * 0.75);
	}

	.main__landing {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__about-wrapper {
		flex-direction: column;
	}

	.main__hero-wrapper {
		margin: 0;
		padding: 1rem;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}

	.hero-text,
	.hero-subtext {
		text-align: center;
	}

	.hero-subtext {
		font-size: 18px;
	}

	.hero__interactables {
		justify-content: center;
	}

	.main__about {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main__about-journey > p,
	.main__about-beyond > p {
		line-height: 18px;
	}

	.main__about-text {
		padding: 0em;
		margin: 0px;
	}

	#portrait {
		max-width: 300px;
	}

	section,
	header {
		padding: 0rem 1rem;
	}

	.card__info {
		font-size: calc(var(--f400) + 0.25rem);
	}
}

@media only screen and (max-width: 386px) {
	.hero-text {
		font-size: 3rem;
	}

	.hero-subtext {
		font-size: 1.2rem;
	}

	.main__projects-display {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.nav__menu > li {
		font-size: calc(var(--f500) + 0.25rem);
	}
}
